*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.msg {
    color: red;
    font-size: 18px;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
}

.form form{
    background-color: hsl(282, 48%, 40%);
    text-align: center;
    box-shadow: 0px 6px 10px rgb(144, 144, 144);
    border-radius: 10px;
    padding: 2rem;
    width: 28rem;
}

.form form h2{
    margin-bottom: 1.5rem;
}

.form form input{
    padding: 10px 15px;
    font-size: 15px;
}

.form form button{
    width: 100%;
    margin-top: 10px;
    background-color: blue;
    color: white;
    font-size: 18px;
}

.form form p{
    font-size: 15px;
    margin-top: 8px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #f0f2f5;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.user-page {
    background-color: hsl(282, 48%, 40%);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 12px;
    box-shadow: 4px 8px 16px rgb(144, 144, 144);
    text-align: center;
    width: 350px;
}

.user-page h2 {
    margin-bottom: 20px;
    color: #ffffff;
}

.user-page p {
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
}

.user-page span {
    font-weight: bold;
    color: white;
}

button.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button.btn:hover {
    background-color: #0056b3;
}